$react-dates-color-primary: #0969A2 !default;
$react-dates-color-primary-dark: #063f60 !default;
$react-dates-color-primary-shade-1: #26a7f2 !default;
$react-dates-color-primary-shade-2: #0e9ef1 !default;
$react-dates-color-primary-shade-3: #0d8ed9 !default;
$react-dates-color-primary-shade-4: #0b7ec1 !default;
@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';