@value roboto from './common/typography.css';
@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay, color-gold from './common/colors.css';

* {
  box-sizing: border-box;
}

html {
  display: block;
    background-color: color-white;
  background-size: 300% 300%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


a {
  cursor: pointer;
}
  
.banner {
  position: absolute;
  top:72px;
  background-color: color-white;
  width: 80%;
  padding: 25px;
  font-size: 4em;
  letter-spacing: -2px;
}

.banner .text {

}

.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.container img {
  z-index: -1;
  max-width: 100%;
}

.app {
  composes: box from './common/layout.css';
  height: 100%;
  font-family: roboto;
  font-weight: normal;
  font-smoothing: antialiased;
}

.action-container {
  padding: 25px;
  margin: 10px;
  width: 80%;
  margin: 0 auto;
  bottom: 400px;
  text-align: center;
  position: relative;
  vertical-align: top;
  height: 200px;
  border: solid #DDD 1px;
}

.action-container:before {
  content: '';
  position: absolute; 
}

.button-line {
  font-family: 'Avant Garde', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  opacity: .8;
  padding: 20px 40px;
  text-decoration: none;
  transition: all .5s ease;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.button-line:hover {
  opacity: 1;
}

.tripRequester{
  display: inline-flex;
}