@value roboto from './common/typography.css';
@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay from './common/colors.css';

  
.header {
  color: #FFF;
  font-family: 'Avant Garde', sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
}



.app {
  composes: box from './common/layout.css';
  height: 100%;
  font-family: roboto;
  font-weight: normal;
  font-smoothing: antialiased;
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.button-line {
  font-family: 'Avant Garde', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  opacity: .8;
  padding: 20px 40px;
  text-decoration: none;
  transition: all .5s ease;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.button-line:hover {
  opacity: 1;
}
