@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay, color-gold, color-matte-blue from '../../css/common/colors.css';

nav {
  z-index: 2
}

.navigation {
/*  padding: 0 28px;*/
  width: 100%;
  background: rgba(0,0,0,.05);
  border-bottom: solid .5px rgba(0,0,0,.05);
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: black;
}

.logo {
  color: color-matte-blue;
  font-size: 1.5em;
}

@media(max-width: 800px){
  .item {
    display: flex;
    flex-direction: column;
/*    border: white solid 1px;*/
    border-right: none;
    border-left: none;
  }
  .navigation {
    padding: 0;
    text-align: center;
    background: rgba(0,0,0,.02);
  }
}

.logo{
  left:1em;
}

.nav {
  float: right;
}

@media(max-width: 800px){
  .nav {
    float: none;
  }
}
a {
  border-bottom: solid 3px transparent;
}
a:hover {
  color: color-matte-blue;
}

.active {
  color: color-matte-blue;
}
