/* Google Map 
------------------------------------*/
.map {
  height: 600px;
  overflow-x: hidden;
}
.form-inline {
  margin: 20px 0;
}
.form-inline .form-group {
  margin-bottom: 0;
}
.form-inline .form-group,
.form-inline .form-control,
.form-inline button {
  width: 100%;
}
.bg-danger,
.bg-info {
  padding: 25px;
  margin: 0;
  font-size: 1em !important;
}