@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay, color-gold, color-matte-blue from '../../css/common/colors.css';

.map {
  display: none;
}

.container {
  display: inline-block;
}

.address {
  padding: 20px;
  width: 250px;
  margin: 0;
  font-size: 1em !important;
}

.bg-danger {
  background-color: rgba(255,99,71, .88);
  color: #FFFFFF;
}

.bg-info {
  background-color: transparent;
  color: color-matte-blue;
}