@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay, color-gold, color-matte-blue from '../../../css/common/colors.css';
@value global-radius from '../../../css/common/layout.css';

nav {
  z-index: 2
}

.navigation {
  width: 800px;
  background: rgba(0,0,0,.05);
  border-bottom: solid .5px rgba(0,0,0,.05);
  height: 40px;
  margin: 0 auto;
}

.navigation > span {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 32.5%;
}

.settings {
  text-align: left;
  margin-left: 1%;
  cursor: pointer;
}

.logo {
  color: color-matte-blue;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.activities {
  text-align: right;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navigation {
    width: 100%;
  }
}