.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: color-athens-gray;
  border: 2px solid color-mercury;
  border-radius: global-radius;
  height: 100vh;
}

.activity-item {
  padding: 20px
}

.request-toggle {
  text-align: center;
}