@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-crimson, color-bombay, color-gold, color-matte-blue from '../../css/common/colors.css';
@value global-radius from '../../css/common/layout.css';

.activity-item {
  padding: 20px;
  border-radius: 50px;
  border: black solid 1px;
  margin: 10px;
}

.request-toggle {
  text-align: center;
}

.navigation {
  width: 100%;
  background: rgba(0,0,0,.05);
  border-bottom: solid .5px rgba(0,0,0,.05);
  height: 40px;
}

.navigation > span {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 32.5%;
}

.settings {
  text-align: left;
  margin-left: 1%;
  cursor: pointer;
}

.logo {
  color: color-matte-blue;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.activities {
  text-align: right;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: color-athens-gray;
  border: 2px solid color-mercury;
  border-radius: global-radius;
  height: 100%;
}

.waiting {
  .loading {
    display: block;
  }
}
.loader {
  composes: loader from '../../css/common/animations';
}

  .alternative {
    background: color-white;
    padding: 12px 8px;
    font-size: font-medium;
    text-align: center;
  }

  .alternative-link {
    color: color-dodger-blue;
    font-weight: bold;
    cursor: pointer;
  }
  .alternative-link:hover{
    color: color-dodger-blue;
    text-decoration: none;
    border-bottom: none;
  }

  .loading {
    display: none;
    text-align: center;
    margin: 24px auto;
  }

  .sub-container {
    margin-top: 200px;
    padding: 16px 12px;
  }

  .heading {
    composes: subheading from '../../css/common/typography';

    padding: 16px 12px;
    text-align: center;
  }

  .input {
    composes: input from '../../css/common/input';
  }

  .message {
    color: color-crimson;
    font-size: font-small;
  }

  .button {
    composes: slateButton from '../../css/common/button';
  }

  .hint {
    composes: small from '../../css/common/typography';
    color: color-bombay;
  }
