.container {
  display: inline-block;
  height: 50px;
  margin-top: 10px;
}

input.input {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 250px;
  padding: 8px;
  margin: 0;
  height: 100%;
  vertical-align: middle;
}